body{
	background:rgba(0,255,0,0.4); /* css3属性*/
	margin:0;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main{
	width:1340px;
	height:auto;
	margin:0 auto;
	border:solid 1px #666;
}
.header{
	width:1340px;
	height:70px;
	overflow: auto;
	background:red;
}
.logo{
	width:80px;	
	float:left;
}
.daohang{
	float:left;
	margin-top:5px;
}
.daohang li{
	list-style-type:none;
	display:inline;	
}
.daohang a
{
	color:#FFF;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	padding:15px 15px 15px 15px;
	
}
.daohang a:hover
{
	background-color:#F00;
	background-position:left bottom;
	color:#FFFF00;	
}
.login{
	float:right;
	padding:20px 15px 0px 15px;	
}
.login a{
	text-decoration:none;	
	font-weight:bold;
	color:#CCC;
	padding:10px;
}
.type{
	text-align:center;
	background-color:#CCC;
	padding:15px 0px 15px 0px;	
}
nav{
	width:950px;
	overflow: auto;
	margin:0 auto;
	border:solid 1px #FFFF00;
}
.img{
	float:left;	
	background:yellow;
	text-align:center;
	height:auto;
}
.movie-xinxi{
	float:left;
	width:650px;
	margin-left:30px;
}
.movie{
	overflow: auto;	
	width:900px;
	height:220px;
	border:solid 1px #999999;
	margin:15px auto;
}
footer{
	clear:both;	
}
.footer-nav li{
	list-style-type:none;
	display:inline;	
	padding:0px 50px 0px 0px;
}
.footer-nav ul{
	width:780px;
	margin:0 auto;	
}
.footer-nav a{
	text-decoration:none;	
}
.xinxi{
	text-align:center;
	margin-top:20px;
	height:70px;	
}
.xinxi a{
	font-weight:bold;
	font-size:17px	
}